# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Practicas DIW & DWEC\P1-Pc1---Whatsagram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
